/* styles.css */
body {
    background-color: #5c6064;
}

h1 {
    width: 100%;
    text-align: center;
}

table {
    border: 1px;
    width: 100%;
    text-align: center;
}

.checkboxtable {
    width: 100%;
}

.tabledata {
    width: 24%
}

.center {
    text-align: center;
}

.form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 16em;
    padding-bottom: 30px;
    justify-content: center;
}

.date-input {
    width: 172px
}

.bold {
    font-weight: bold;
}

/* Add styles here to customize the appearance of your app */