@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 450px;
  overflow-x: hidden;
}

.header {
  height: 90px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header > h1 {
  font-family: "Kanit", sans-serif;
  font-size: 48px;
}

.header > h2 {
  font-family: "Kanit", sans-serif;
  font-size: 24px;
}

.pictureSlider {
  padding: 20px;
}

.pictureSlider > .pictures > .picture {
  position: absolute;
  left: 100%;
}

.pictures > .selected {
  position: absolute;
  left: 20px;
}

.selected > img {
  width: calc(100vw - 40px);
  cursor: pointer;
}

.picture > img {
  width: calc(100vw - 40px);
}

.pictureSlider > .selector {
  margin-top: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.pictureSlider > .selector > .circle {
  width: 14px;
  height: 14px;
  background-color: #ABABAB;
  border-radius: 50%;
}

.pictureSlider > .selector > .selected {
  background-color: #404040;
}

.buttonNext,
.buttonPrev {
  position: absolute;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 10;
  height: 300px;
  width: 100px;
  border-radius: 20px 0px 0px 20px;
  transition: 0.1s background-color ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  font-family: "Kanit", sans-serif;
  font-weight: bolder;
  color: rgba(241, 241, 241, 0.15);
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.buttonPrev {
  left: 20px;
  border-radius: 0px 20px 20px 0px;
}

.buttonNext:hover,
.buttonPrev:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.75);
}

.myGroceries {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  align-items: center;
}

.myGroceries > h2 {
  font-family: "Kanit", sans-serif;
}

.groceries {
  padding: 15px;
  height: 262px;
  width: 100vw;
  background-color: #F2F2F2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.grocery {
  background-color: #E4E4E4;
  height: 100px;
  width: 100px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #88888862;
  cursor: pointer;
}

.grocery > img {
  border-radius: 5px;
}

.grocery > .label {
  border-radius: 0 5px 5px 0;
  width: 30px;
  height: 100px;
  right: 0;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-family: "Kanit", sans-serif;
  cursor: pointer;
}

.label > .days {
  font-size: 8px;
}

.groceryList > img {
  width: 30px;
  height: 30px;
}

.groceryList {
  position: absolute;
  left: 20px;
  top: 10px;
  cursor: pointer;
}

.fridge {
  position: absolute;
  z-index: 11;
  display: none;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  padding: 70px 40px 0 40px;
}

.fridge-open {
  display: block;
  pointer-events: inherit;
  background-color: white;
}

.fridge-item {
  background-color: lightgray;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(94, 188, 159);
  margin-bottom: 20px;
}

.fridge-item-image {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 3px;
  background-color: gray;
}

.fridge-item-wrapper {
  position: relative;
  margin-right: 20px;
  font-family: "Kanit", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.delete {
  position: absolute;
  right: -20px;
  top: -10px;
}

.delete > i {
  transition: color 0.1s ease-in-out;
}

.delete > i:hover {
  color: red;
}

.close-fridge {
  position: absolute;
  top: 10px;
  right: 20px;
  font-family: "Kanit", sans-serif;
  font-size: 28px;
  cursor: pointer;
}

.fridge-title {
  position: absolute;
  top: 10px;
  font-family: "Kanit", sans-serif;
}

.scan {
  position: absolute;
  right: 30px;
  top: 7px;
  cursor: pointer;
  width: 28px;
}

.scan-screen {
  position: absolute;
  z-index: 11;
  width: 100vw;
  height: 100vh;
  padding: 70px 40px 0 40px;
  display: flex;
  justify-content: center;
  display: none;
  pointer-events: none;
}

.scan-screen-open {
    background-color: white;
    display: block;
    pointer-events: inherit;
}

.close-scan {
  position: absolute;
  top: 10px;
  right: 20px;
  font-family: "Kanit", sans-serif;
  font-size: 28px;
  cursor: pointer;
}

.scan-title {
    position: absolute;
    top: 10px;
    left: 50vw;
    transform: translateX(-50%);
    font-family: "Kanit", sans-serif;
  }

  .to-scan {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Kanit', sans-serif;
  }

  .scan-description {
    text-align: center;
  }

  .to-scan > img {
    width: 100px;
  }

  .scan-inner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.manual-add > div {
    padding: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.manual-add { 
    font-family: 'Kanit',sans-serif;
    position: absolute;
    bottom: 90px;
}

.manual-add-screen {
  z-index: 12;
  position: absolute;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  display: none;
  font-family: 'Kanit',sans-serif;
  padding: 8px 40px 0 40px;
  flex-direction: column;
  gap: 20px;
}

.manual-add-screen-open {
  display: flex;
  background-color: white;
  pointer-events: inherit;
}

.vegetable-wrapper, .fruit-wrapper, .other-wrapper {
  display: flex;
  width: calc(100vw - 80px);
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.289);
  cursor: pointer;
  border-radius: 3px;
}

.add-name-image {
  height: 150px;
  width: calc(100vw - 280px);
  overflow: hidden;
}

.add-name-image > img {
  height: 150px;
}

.add-name {
  height: 150px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-name > h1 {
  font-size: 28px;
}

.close-manual-add {
  position: absolute;
  top: 10px;
  right: 20px;
  font-family: "Kanit", sans-serif;
  font-size: 28px;
  cursor: pointer;
}

.manual-add-grocery {
  width: 86px;
  height: 86px;
  overflow: hidden;
  cursor: pointer;
}

.manual-add-grocery > img {
  width: 150px;
}

.add-fruit, .add-vegetable, .add-other {
  padding: 10px 40px 0 40px;
  z-index: 13;
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: none;
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  font-family: 'Kanit', sans-serif;
}

.add-open{
  display: flex;
  pointer-events: inherit;
  background-color: white;
}

.add-fruit-grid, .add-vegetable-grid, .add-other-grid {
  margin-top: 30px;
  display: grid;
  width: calc(100vw - 80px);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.add-fruit-grid > div, .add-vegetable-grid > div, .add-other-grid > div {
  justify-self: center;
}

.add-fruit-grid > div > img, .add-vegetable-grid > div > img, .add-other-grid > div > img {
  border-radius: 5px;
}

.add-fruit-grid > div, .add-vegetable-grid > div, .add-other-grid > div {
  border-radius: 5px;
}

.back-oth, .back-veg, .back-fru {
  position: absolute;
  top: 20px; left: 20px;
}

.back-oth > i, .back-veg > i, .back-fru > i {
  font-size: 32px;
}

.add-fruit-options, .add-vegetable-options, .add-other-options {
  position: absolute;
  bottom: 20px;
  gap: 30px;
  display: flex;
  width: calc(100vw - 80px);
  flex-direction: column;
  align-items: center;
  background-color: rgb(218, 218, 218);
  padding: 20px;
  border-radius: 5px;
}

.add-fruit-options > .wrap > input, .add-vegetable-options > .wrap > input, .add-other-options > .wrap > input {
  font-family: sans-serif;
}

.fruit-options-add, .vegetable-options-add, .other-options-add {
  font-size: 32px;
  cursor: pointer;
}